#myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

























h1 {
   text-align  : center;
   font-size : 64px;
   padding-top : 20px;           
   padding-bottom : 30px;
   text-color: red;
   animation-name: flash;
   animation-duration: 0.2s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   animation-play-state: running;
   font-weight: 900;
}

/*@keyframes flash {
    from {color: red;}
    to {color: black;}
}*/

.column {
   float : left;   
   width : 20%      
}

#foodList {
    list-style-type: none;
    padding: 0;
}

#selectedFood {
     list-style-type: none;
    padding: 0;
}             

body {
       background: url('http://i.hizliresim.com/v4Qykv.png') no-repeat center center fixed;
       font-family: 'Roboto', Tahoma, Arial, sans-serif;
}